body {
  padding-top: 50px;
}
.c-main-button .main-button {
  float: left;
  width: 33.333%;
  padding: 5px;
  text-align: center;
  color: white;
  background-color: #333;
}
.c-main-button .main-button:hover {
  background-color: #242933;
}
.lyrics {
  font-family: "Courier New";
  font-size: 1.6em;
}
[ng-drop] {
  background: rgba(0, 255, 0, 0.5);
  text-align: center;
  display: block;
  padding: 30px 10px;
  margin: 20px auto;
  position: relative;
}
[ng-drag] {
  cursor: move;
}
[ng-drag].drag-over {
  border: solid 1px red;
}
[ng-drag].dragging {
  opacity: 0.5;
}
