<h1>{{'Add user'|translate}}</h1>
<form>
    <div class="form-group">
        <label for="email">{{'Name'|translate}}</label>
        <input ng-model="email" id="email" class="form-control">
    </div>

    <div class="form-group">
        <label for="password">{{'Password'|translate}}</label>
        <input ng-model="password" id="password" class="form-control">
    </div>

    <button type="submit" ng-click="insertUser()" class="btn btn-success"><span class="glyphicon glyphicon-plus"></span> {{'Add'|translate}}</button>
</form>