<form>
    <button type="submit" ng-click="saveSong()" class="btn btn-success pull-right">
        <span class="glyphicon glyphicon-plus"></span>
        {{'Edit'|translate}}
    </button>
    <h1>{{'Edit song'|translate}}</h1>


    <div class="form-group">
        <label for="name">{{'Name'|translate}}</label>
        <input id="name" ng-model="song.name" type="text" class="form-control" required>
    </div>
    <div class="form-group">
        <label for="artist">{{'Artist'|translate}}</label>
        <input id="artist" ng-model="song.artist" type="text" class="form-control">
    </div>

    <div class="form-group">
        <label for="lyrics">{{'Text'|translate}} {{size}}</label>

        <wysiwyg textarea-id="lyrics" textarea-class="form-control lyrics"
                 textarea-height="800px" textarea-name="textareaQuestion"
                 textarea-required ng-model="song.lyrics"
                 enable-bootstrap-title="true"
                 textarea-menu="menu"
                ></wysiwyg>
    </div>


</form>